Flask
Flask-Compress
Flask-WTF
gunicorn
ipykernel
ipython
jupyter-client
jupyter-core
keras
Keras-Preprocessing
matplotlib
matplotlib-inline
numpy
pandas
plotly
python
python-dateutil
scikit-learn
scipy
seaborn
sklearn
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
urllib3
WTForms
